<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrowList">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="narrowList.searchTerm" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowList.searchItems();">Narrow It Down For Me!</button>
    </div>

    <!-- <br><br><br>
    <ul>
      <li ng-repeat="item in narrowList.found">
        {{item.name}} , {{item.short_name }} , {{item.description}}
        <button type="button" class="btn btn-primary btn-sm" ng-click="narrowList.removeItem($index);">Don't want this one!</button>
      </li>
    </ul>
    <br>
    <div class="text-danger" ng-if="narrowList.found.length === 0">Nothing selected!</div> -->
    <!-- found-items should be implemented as a component -->
    <div class="row">
      <found-items class="col-xs-12" items="narrowList.found" on-remove="narrowList.removeItem(index)"></found-items>
    </div>

  </div>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
